@page "/RegistoUtilizador"

<h3 class="mb-3">Criar novo Utilizador</h3>

@if(ultimoSubmit != null)
{
    <h4>
        Status do último Submit : @ultimoSubmit
    </h4>
}

<EditForm Model="@user" OnValidSubmit="@OnValidSubmitLogin"
          OnInvalidSubmit="@OnInvalidSubmitLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="firstName">Nome</label>
            <InputText type="text" class="form-control" @bind-Value="user.Nome" placeholder="Nome" />
            <ValidationMessage For="@(() => @user.Nome)" />
        </div>
        <div class="col-md-6 mb-3">
            <label for="lastName">Sobrenome</label>
            <InputText type="text" class="form-control" @bind-Value="user.Sobrenome" placeholder="Sobrenome" />
            <ValidationMessage For="@(() => @user.Sobrenome)" />
        </div>
    </div>
    <div class="mb-3">
        <label for="username">Login</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"></span>
            </div>
            <InputText @bind-Value="user.Login" class="form-control" placeholder="Login" />
            <ValidationMessage For="@(() => @user.Login)" />
        </div>
    </div>
    <div class="mb-3">
        <label for="username">Idade</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"></span>
            </div>
            <InputNumber @bind-Value="user.Idade" class="form-control" placeholder="18" />
            <ValidationMessage For="@(() => @user.Idade)" />
        </div>
    </div>
    <div class="mb-3">
        <label for="perfil">Perfil</label>
        <p>
            <InputSelect id="perfil" @bind-Value="user.Perfil" class="form-control">
                <option value="">Selecione o Perfil...</option>
                <option value="Admin">Administrador</option>
                <option value="User">Usuário</option>
            </InputSelect>
        </p>
        <ValidationMessage For="@(() => @user.Perfil)" />
    </div>
    <div class="mb-3">
        <label for="email">Email</label>
        <InputText type="email" class="form-control" @bind-Value="user.Email" placeholder="nome@exemplo.com" />
        <ValidationMessage For="@(() => @user.Email)" />
    </div>
    <div class="mb-3">
        <label for="password">Password</label>
        <InputText type="password" class="form-control" @bind-Value="user.Password" />
        <ValidationMessage For="@(() => @user.Password)" />
    </div>
    <div class="mb-3">
        <label for="confirm-password">Confirma Password</label>
        <InputText type="password" class="form-control" @bind-Value="user.ConfirmaPassword" />
        <ValidationMessage For="@(() => @user.ConfirmaPassword)" />
    </div>
    <hr class="mb-4">
    <button class="btn btn-primary btn-lg btn-block" type="submit">Registrar</button>
</EditForm>

@code {

    public Utilizador user = new Utilizador();
    string ultimoSubmit;

    //Executado quando o formulário for válido
    public void OnValidSubmitLogin(EditContext editContext)
    {
        ultimoSubmit = $"OnValidSubmit foi executado. " +
                $"O formulário é válido = {editContext.Validate()}";
    }

    //Executado quando o formulário for inválido
    public void OnInvalidSubmitLogin(EditContext editContext)
    {
        ultimoSubmit = $"OnInvalidSubmit foi executado.  " +
                $"O formulário é válido = {editContext.Validate()}";

    }
}